<ion-content>

  <!-- Login Page -->
      <!-- Brown Crumbs Logo -->
      <ion-img src="../assets/img/The Brown Crumbs.jpg" class="login-page-image"></ion-img>
      
      <!-- Login Details Field -->
      <form class="login-form">
      <ion-item class="login-email-field">
        <ion-input type="text" placeholder="Enter Your Email Id.."></ion-input>
      </ion-item>
      <ion-item class="login-password-field">
        <ion-input type="password" placeholder="Enter Your Password.."></ion-input>
      </ion-item>
      </form>

      <!-- Login Button -->
      <ion-button (click)="loginButton()" class="loginButton" color="orange">Login</ion-button>
    
</ion-content>
