<ion-content>

  <!-- Brown Crumbs Logo -->
  <ion-segment padding class="login-logo"><ion-img src="../assets/img/The Brown Crumbs.jpg" class="login-page-image"></ion-img></ion-segment>
      
  <!-- Login Details Field -->
  <form class="login-form" padding>

    <!-- Login Email ID Field -->
    <ion-item class="login-fields"><ion-input type="email" placeholder="Enter Your Email"></ion-input></ion-item>
    
    <!-- Login Password Field -->
    <ion-item class="login-fields"><ion-input type="password" placeholder="Enter Your Password"></ion-input></ion-item>

    <!-- Login Button -->
    <ion-segment padding><ion-button (click)="loginButton()" color="orange">Login</ion-button></ion-segment>

    <!-- Sign Up Segment-->
    <ion-segment><p>New to Brown Crumbs?<a (click)="goToSignup()">Sign Up!</a></p></ion-segment>
        
  </form>

  <ion-segment><p class="version-display"> {{appName}} v.{{appVerNum}} </p></ion-segment>

</ion-content>