<ion-content>

  <!-- Brown Crumbs Logo -->
  <ion-segment padding class="login-logo">
    
    <ion-img src="../assets/img/The Brown Crumbs.jpg" class="login-page-image"></ion-img>
  
  </ion-segment>
      
  <!-- Login Details Field -->
  <form class="login-form" (ngSubmit)="loginButton()" padding>

    <!-- Login Email ID Field -->
    <ion-item class="login-fields" lines="none">
      
      <ion-icon slot="start" name="person" color="dark"></ion-icon>
      
      <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Enter Your Email"></ion-input>
    
    </ion-item>
    
    <!-- Login Password Field -->
    <ion-item class="login-fields" lines="none">
      
      <ion-icon slot="start" name="key" color="dark"></ion-icon>
      
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Enter Your Password"></ion-input>
    
    </ion-item>

    <!-- Login Button -->
    <ion-segment padding><ion-button type="submit" color="orange">Login</ion-button></ion-segment>

  </form>
  
    <!-- Segment for Social Logins -->
    <!-- <ion-segment>

      <ion-button color="gmail"><ion-icon name="logo-googleplus"></ion-icon></ion-button>
  
      <ion-button color="facebook"><ion-icon name="logo-facebook"></ion-icon></ion-button>
  
      <ion-button color="twitter"><ion-icon name="logo-twitter"></ion-icon></ion-button>
      
    </ion-segment> -->
    
    <!-- Sign Up Segment-->
    <p style="text-align: center;">New to Brown Crumbs?<a (click)="goToSignup()">Sign Up!</a></p>

  
  <!-- App Name & App Version -->
  <br><br>
  <ion-segment><p class="version-display"> {{appName}} v.{{appVerNum}} </p></ion-segment>

</ion-content>