<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button class="navigation-tabs" tab="tab1">
      <ion-icon class="tab-icons" name="flash"></ion-icon>
      <ion-label class="tab-labels">Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button class="navigation-tabs" tab="tab2">
      <ion-icon class="tab-icons" name="apps"></ion-icon>
      <ion-label class="tab-labels">Tab Two</ion-label>
    </ion-tab-button>

    <ion-tab-button class="navigation-tabs" tab="tab3">
      <ion-icon class="tab-icons" name="send"></ion-icon>
      <ion-label class="tab-labels">Tab Three</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
