<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon class="tab-icons" name="clipboard"></ion-icon>
      <ion-label class="tab-labels">Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon class="tab-icons" name="contact"></ion-icon>
      <ion-label class="tab-labels">Customers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon class="tab-icons" name="ice-cream"></ion-icon>
      <ion-label class="tab-labels">Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon class="tab-icons" name="stats"></ion-icon>
      <ion-label class="tab-labels">Analytics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
