<ion-header>
  <ion-toolbar>
    <ion-avatar (click)="goToHome()" class="top-toolbar-avatar">
      <ion-img src="../assets/img/tbc.png"></ion-img>
    </ion-avatar>
    <ion-title class="avatar-toolbar-title">Welcome!</ion-title>
    <ion-icon (click)="goToAccountPage()" class="account-logo" slot="end" size="large" color="dark" name="contact"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment padding>

    <ion-avatar>

      <ion-img src="../assets/img/tbc.png"></ion-img>

    </ion-avatar>

  </ion-segment>


  <ion-list lines="none">

    <ion-item>
      
        <ion-icon slot="start" size="small" name="help-circle-outline"></ion-icon>
              
        <ion-label>Help</ion-label>
            
      </ion-item>

    <ion-item>
      
      <ion-icon slot="start" size="small" name="settings"></ion-icon>
          
      <ion-label>Settings</ion-label>
        
    </ion-item>

    <ion-item (click)="doLogout()">
      
      <ion-icon slot="start" size="small" name="log-out"></ion-icon>
      
      <ion-label>Log Out</ion-label>
    
    </ion-item>

    <ion-item (click)="exitApp()">
      
      <ion-icon slot="start" size="small" name="exit"></ion-icon>
      
      <ion-label>Exit</ion-label>
      
    </ion-item>

  </ion-list>

</ion-content>
