<!-- <ion-header>
  <ion-toolbar>
    <ion-avatar class="top-toolbar-avatar">
      <ion-img src="../assets/img/tbc.png"></ion-img>
    </ion-avatar>
    <ion-title class="avatar-toolbar-title">Orders</ion-title>
    <ion-icon class="account-logo" slot="end" size="large" color="dark" name="contact"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  
  <ion-card class="orders-page-background-card">

    <div class="orders-page-title-wrapper">
      
      <h1 class="orders-page-main-title"><b>Upcoming Orders</b></h1>
    
      <ion-button (click)="goToAccountPage()" shape="round" color="light" class="orders-page-account-btn">
        <ion-icon name="ios-contact"></ion-icon>
      </ion-button>
    </div>

    <ion-card-header class="orders-page-sub-header">Take a look at Orders you have to complete</ion-card-header>

  </ion-card>
  

  <!-- Upcoming Orders -->
  <ion-slides pager="true" class="orders-page-slides-comp">

    <!-- For Loop for mulitple Order's  -->
    <ion-slide *ngFor="let order of ordersArray">
      
      <!-- Card to go into Details of that Order -->
      <ion-card (click)="goToOrderDetails()" class="orders-page-orders-card">

        <!-- <img src="../../assets/img/wave.svg" /> -->

        <div style="position: absolute; top: 200px; left: 20px;">
          
          <ion-card-title style="font-weight: bold; font-size: 25px; padding: 5px 0 5px 0;text-align: left;">{{order.customerName}}</ion-card-title>

          <ion-card-subtitle style="font-size: 15px; padding: 5px 0 5px 0; text-align: left;">
            
            {{order.product}}
          
          </ion-card-subtitle>


        </div>

        <!-- 


        </ion-card> -->
        <!-- 

        
        
        <ion-segment class="current-order-segment">
          
          
        
        </ion-segment>

        
        
        <ion-segment class="current-order-segment">

          <ion-card-subtitle padding>
            
            Size: {{ customer.size }} Kg
          
          </ion-card-subtitle>

        </ion-segment>

        
        <ion-segment class="current-order-segment">
      
          <ion-card-subtitle padding>
            
            Delivery Date:
        
          </ion-card-subtitle>

        </ion-segment> -->

      
      </ion-card>
    
    </ion-slide>

  </ion-slides>






    <!-- Calendar For Keeping Track of Orders -->
    <!-- <ion-card class="ion-card-for-calendar"> -->
    
      <!-- Segment for Calendar Title -->
      <!-- <ion-segment style="display: flex; justify-content:space-between; background-color: black;"> -->
        
        <!-- Calendar Title -->
        <!-- <ion-card-header style="color: white;">Orders Schedule</ion-card-header> -->
  
        <!-- Button for Adding New Order -->
        <!-- <ion-button size="small" color="dark" tappable (click)="collapseCard = !collapseCard" style="margin-top: 10px; margin-right: 10px;"> -->
            
          <!-- <ion-icon name="add"></ion-icon> -->
          
        <!-- </ion-button> -->
  
      <!-- </ion-segment> -->
      <!-- End of First Segment for Calendar -->
  
      <!-- Conditional Card to Add a Event in your Calendar -->
      <!-- <ion-card *ngIf="collapseCard" padding> -->
  
        <!-- Label for Event Title -->
        <!-- <ion-item lines="none">
  
          <ion-label>Title:</ion-label>
          
          <ion-input type="text" [(ngModel)]="event.title"></ion-input>
  
        </ion-item> -->
  
        <!-- Label for Event Description -->
        <!-- <ion-item lines="none">
      
          <ion-label>Description:</ion-label>
          
          <ion-input type="text" [(ngModel)]="event.desc" lines></ion-input>
        
        </ion-item> -->
  
        <!-- Item to Add The Event's Start Date -->
        <!-- <ion-item lines="none">
          
          <ion-label>Start</ion-label>
          
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        
        </ion-item> -->
        
        <!-- Item to Add The Event's End Date -->
        <!-- <ion-item lines="none">
          
          <ion-label>End</ion-label>
          
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        
        </ion-item> -->
        
        <!-- Item to Add the Event for the Entire Day -->
        <!-- <ion-item lines="none">
        
          <ion-label>All Day?</ion-label>
        
          <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        
        </ion-item> -->
        
        <!-- Button to Submit Event -->
        <!-- <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>
  
      </ion-card> -->
  
      <!-- Month -->
      <!-- <ion-item><b>{{ viewTitle }}</b></ion-item> -->
      
      <!-- Calendar Component -->
      <!-- <calendar class="monthview-selected"
        
        [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        startHour="0"
        endHour="24"
        step="30"
        startingDayWeek="1">
  
      </calendar>
  
    </ion-card>
   -->


</ion-content>