<ion-header>
  <ion-toolbar>
    <ion-avatar class="top-toolbar-avatar">
      <ion-img src="../assets/img/tbc.png"></ion-img>
    </ion-avatar>
    <ion-title class="avatar-toolbar-title">Orders</ion-title>
    <ion-icon (click)="goToAccountPage()" class="account-logo" slot="end" size="large" color="dark" name="contact"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Slides Component For Existing Order -->
  <ion-slides pager="true" style="height: 250px;">

    <!-- For Loop for mulitple Order's  -->
    <ion-slide *ngFor="let customer of testfile">
      
      <!-- Card to go into Details of that Order -->
      <ion-card (click)="goToOrderDetails()" padding color="orange">

        
        <ion-card-title padding>
          
          <b>Current Order: </b> {{ customer.first_name + ' ' + customer.last_name }}
        
        </ion-card-title>

        
        
        <ion-segment class="current-order-segment">
          
          <ion-card-subtitle padding>
            
            Product: {{ customer.product }}
          
          </ion-card-subtitle>
        
        </ion-segment>

        
        
        <ion-segment class="current-order-segment">

          <ion-card-subtitle padding>
            
            Size: {{ customer.size }} Kg
          
          </ion-card-subtitle>

        </ion-segment>

        
        <ion-segment class="current-order-segment">
      
          <ion-card-subtitle padding>
            
            Delivery Date:
        
          </ion-card-subtitle>

        </ion-segment>

      
      </ion-card>
    
    </ion-slide>

  </ion-slides>


  <!-- Calendar For Keeping Track of Orders -->
  <ion-card class="ion-card-for-calendar">
    
    <!-- Segment for Calendar Title -->
    <ion-segment style="display: flex; justify-content:space-between; background-color: black;">
      
      <!-- Calendar Title -->
      <ion-card-header style="color: white;">Orders Schedule</ion-card-header>

      <!-- Button for Adding New Order -->
      <ion-button size="small" color="dark" tappable (click)="collapseCard = !collapseCard" style="margin-top: 10px; margin-right: 10px;">
          
        <ion-icon name="add"></ion-icon>
        
      </ion-button>

    </ion-segment>
    <!-- End of First Segment for Calendar -->

    <!-- Conditional Card to Add a Event in your Calendar -->
    <ion-card *ngIf="collapseCard" padding>

      <!-- Label for Event Title -->
      <ion-item lines="none">

        <ion-label>Title:</ion-label>
        
        <ion-input type="text" [(ngModel)]="event.title"></ion-input>

      </ion-item>

      <!-- Label for Event Description -->
      <ion-item lines="none">
    
        <ion-label>Description:</ion-label>
        
        <ion-input type="text" [(ngModel)]="event.desc" lines></ion-input>
      
      </ion-item>

      <!-- Item to Add The Event's Start Date -->
      <ion-item lines="none">
        
        <ion-label>Start</ion-label>
        
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
      
      </ion-item>
      
      <!-- Item to Add The Event's End Date -->
      <ion-item lines="none">
        
        <ion-label>End</ion-label>
        
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
      
      </ion-item>
      
      <!-- Item to Add the Event for the Entire Day -->
      <ion-item lines="none">
      
        <ion-label>All Day?</ion-label>
      
        <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
      
      </ion-item>
      
      <!-- Button to Submit Event -->
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>

    </ion-card>

    <!-- Month -->
    <ion-item><b>{{ viewTitle }}</b></ion-item>
    
    <!-- Calendar Component -->
    <calendar class="monthview-selected"
      
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      startHour="0"
      endHour="24"
      step="30"
      startingDayWeek="1">

    </calendar>

  </ion-card>

</ion-content>
