<ion-header>
  <ion-toolbar>
    <ion-avatar class="top-toolbar-avatar">
      <ion-img src="../assets/img/tbc.png"></ion-img>
    </ion-avatar>
    <ion-title class="avatar-toolbar-title">Orders</ion-title>
    <ion-icon (click)="goToAccountPage()" class="account-logo" slot="end" size="large" color="dark" name="contact"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Button For Existing Order -->
  <ion-card (click)="goToOrderDetails()" padding color="orange">

    <ion-card-title padding color="white"><b>Current Order: Customer</b></ion-card-title>

    <ion-segment class="current-order-segment">
      
      <ion-card-subtitle padding>Product: </ion-card-subtitle>

      <ion-card-subtitle padding>Size: </ion-card-subtitle>
    
    </ion-segment>  

    <ion-segment class="current-order-segment">
  
      <ion-card-subtitle padding>Delivery Date: </ion-card-subtitle>

      
      <ion-card-subtitle padding>Payment: </ion-card-subtitle>

    </ion-segment>

  </ion-card>

</ion-content>
