<ion-content>

  <ion-card class="products-page-header">

    <h2 class="products-page-main-title">Products</h2>

    <p class="products-page-subtitle">Browse through all your products here..</p>

  </ion-card>


  <div class="products-page-products-container">
    
    <!-- Cakes Card -->
    <ion-card *ngFor="let product of productsArray" class="products-page-products-card">
      
      <!-- <img src="{{ product.categoryImage }}" /> -->
      <h5 style="color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; margin-top: 0; margin-bottom: 0;"><b>{{ product.name }}</b></h5>
    
    </ion-card>
    
  </div>

  
</ion-content>