<ion-header>
    <ion-toolbar>
        <ion-avatar (click)="goToHome()" class="top-toolbar-avatar">
            <ion-img src="../assets/img/tbc.png"></ion-img>
        </ion-avatar>
        <ion-title class="avatar-toolbar-title">Customers</ion-title>
        <ion-icon (click)="goToAccountPage()" class="account-logo" slot="end" size="large" color="dark" name="contact"></ion-icon>    
    </ion-toolbar>
</ion-header>


<ion-content>
    
</ion-content>

<!-- Customer's List ->
<ion-list color="dark">

    <!- Item For Each Level ->
    <ion-item color="dark">

        <!- Text ->
        <ion-label>Name</ion-label><ion-label>sad</ion-label>

    </ion-item>

</ion-list> -->