<ion-header>
  <ion-toolbar>
    <ion-title>Create your Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <!-- Signup Form -->
  <form class="signup-form" padding>
    <!-- First Name Field -->
    <ion-item class="signup-fields"><ion-input name="first_name" type="text" placeholder="Enter your First Name"></ion-input></ion-item>

    <!-- Second Name Field -->
    <ion-item class="signup-fields"><ion-input name="second_name" type="text" placeholder="Enter your Last Name"></ion-input></ion-item>

    <!-- Email Field -->
    <ion-item class="signup-fields"><ion-input name="email" type="email" placeholder="Enter your Email"></ion-input></ion-item>

    <!-- Password Field -->
    <ion-item class="signup-fields"><ion-input name="password" type="password" placeholder="Enter your Password"></ion-input></ion-item>

    <!-- Submit Form Button -->
    <ion-segment padding><ion-button (click)="goToLogin()" color="dark">Sign Up</ion-button></ion-segment>

    <!-- Redirect to Login -->
    <ion-segment><p>Already have an Account?<a (click)="goToLogin()">Login</a></p></ion-segment>
    
    <!-- Segment for Social Logins -->
    <ion-segment>

      <ion-button color="gmail"><ion-icon name="logo-googleplus"></ion-icon></ion-button>

      <ion-button color="facebook"><ion-icon name="logo-facebook"></ion-icon></ion-button>

      <ion-button color="twitter"><ion-icon name="logo-twitter"></ion-icon></ion-button>
    
    </ion-segment>
  
  </form>
  
  <!--<ion-img class="login-background-image" src="../assets/img/Login Form Background Image.png"></ion-img>-->
  
</ion-content>
