// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/display.css";

// Ion-Slides
ion-slides
{
    height: 100%;
    width: 100%;
}

// Login Page
.login-logo
{
    height: 30%;
    width: 100%;
}

.login-form
{
    height: 40%;
    width: 100%;   
}

.login-fields
{
    padding: inherit;
    width: 100%;
}

.login-background-image
{
    position: absolute;
    top: 0%;
}

.login-toast
{
    --button-color: darkorange;
    --background: black;
}

.version-display
{
    color: gray;
    font-style: italic;
}

// Sign Up Page
.signup-form
{
    height: 75%;
    width: 100%;
}

.signup-fields
{
    padding: inherit;
    width: 95%;
}

.account-access-type
{
    width: 45%;
}

.signup-card-radio-btn
{
    display: flex;
    left: 5%;
    --color: white;
    --color-checked: gold;
}

.card-corner-ribbon
{
    width: 65%;
    position: absolute;
    top: 77%;
    font-size: 10px;
    left: 55%;
    text-align: center;
    color: black;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.standardAccountInfo-modal
{
    height: 70%;
    width: 90%;
    left: 5%;
    top: 10%;
}


.premiumAccountInfo-modal
{
    height: 70%;
    width: 90%;
    left: 5%;
    top: 10%;
}

.corner-ribbon {
    width: 30%;
    position: absolute;
    top: 35%;
    right: 78%;
    text-align: left;
    color: black;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

// Bottom Tabs
ion-tab-bar
{
    height: 8%;
    color: white;
}

// Bottom Navigation Tab Label Size
.tab-labels
{
    size: small;
    color: black;
}

// Bottom Navigation Tab Size
.tab-icons
{
    color: orange;
    size: small;
}

// Brown Crumbs Tabs Logo
.tab5-logo
{
    width: 15%;
}


// Ion-Toolbar Avatar  
.top-toolbar-avatar
{
    position: absolute;
    height: 90%;
    width: 13%;
    left: 2%;
    top: 5%;
}


// Ion-Toolbar Title
.avatar-toolbar-title
{
  position: absolute;
  top: 30%;
  left: 13%;
  color: black;
}

// User Account Avatar
.account-logo
{
    width: 15%;
}

// Orders Page
.current-order-segment
{
    display: flex;
    justify-content: space-between;
}

// Order Details Page
.order-details-text
{
    text-align: left;
    width: inherit;
    padding-left: 5%;
}

.ion-card-for-calendar
{
    width: 95%;
    margin-top: 50px;
}


.monthview-selected 
{
    background-color:#000000 !important;
}

// Products Page
.products-segment
{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.products-card
{
    height: auto;
    width: 50%;
}

.card-titles
{
    height: 100%;
    text-align: center;
    font-size: initial;
    font-style: italic;
}

.card-image
{
    display: block;
    width: 100%;
    height: 100%;
}

.product-image
{
    opacity: 1%;
}