// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@ionic/angular/css/display.css";

// Ion-Slides
ion-slides
{
    height: 100%;
    width: 100%;
}

// Login Page Image
.login-page-image
{
    position: absolute;
    height: 50%;
    bottom: 50%;
    right: 0%;
    left: 0%
}

.login-form
{
    position: absolute;
    height: 30%;
    width: 100%;
    top: 52%
}

//
.login-email-field
{
    position: absolute;
    left: 15%;
    width: 65%;
    bottom: 75%;
}

//
.login-password-field
{
    position: absolute;
    left: 15%;
    width: 65%;
    bottom: 45%;
}

// Login Button
.loginButton
{
    position: absolute;
    bottom: 23%;
    left: 40%;
}

// Bottom Tabs
ion-tab-bar
{
    height: 7%;
    color: white;
}

// Bottom Navigation Tab Label Size
.tab-labels
{
    size: small;
    color: black;
}

// Bottom Navigation Tab Size
.tab-icons
{
    color: orange;
    size: small;
}

// Ion-Toolbar Avatar  
.top-toolbar-avatar
{
    position: absolute;
    height: 90%;
    width: 13%;
    left: 2%;
    top: 5%;
}


// Ion-Toolbar Title
.avatar-toolbar-title
{
  position: absolute;
  top: 35%;
  left: 13%;
  color: black;
}